{% extends "base.html" %}

{% block app_content %}

    <div class="content">
        <h2 class="post-title content-title">{{ post.title }}</h2>
        <p class="post-date">{{ post.date }}</p>
        
        {{ post.html|safe }}

        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
            this.page.url =  "https://jacobsenecal.com/blog/{{ post.link }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ post.title }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://jacobsenecal.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>

    
{% endblock %}